.about_wrapper{
background: rgb(255, 255, 255);
background-size: cover;
background-repeat: no-repeat;
height: 115vh;
padding: 0;
width: 100vw;
}

@media screen and (max-width:800px){
    .about_wrapper{
        height: 25vh;
    }
}