.home1{
       height:auto;
       width: 100%;
       padding: 0;
       box-sizing: border-box;
       background-size: cover;
}
.bg_video{
    width: 100vw;
    object-fit: cover;
    height: auto;
    height: 115vh;
}
@media screen and (max-width:800px){
    .home1{
        width: 100vw;
        height: auto;
    }
}
*{
    scroll-behavior: smooth;
}
